<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>zndex-blog</title>
    <link rel="stylesheet" href="/static/api_documment_css/style.css">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <link rel="stylesheet" href="/static/api_documment_css/prettify.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <a href="">
                    <h1>ZNDEX-Blog</h1>
                </a>
                <!-- <div id="menu">
                <ul class="toplinks">
                    <li><a href="http://www.zndex.com:5000" target="_blank">ZNDEX </a></li>
                    <li><a href="http://www.egrappler.com/">eGrappler</a></li>
                </ul>
            </div> -->
                <a id="menu-toggle" href="#" class=" ">&#9776;</a>
            </div>
        </nav>
        <header>
            <div class="container">
                <center>
                    <h2 class="docs-header" id="title">
                        <!-- 这里是标题 -->
                    </h2>
                </center>
                <span style="float: right;color: grey;" id="update_time">---------------发表于</span>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="docs-content markdown" id="result">
                    <!-- 此处插入内容 -->
                </div>
                <ul class="docs-nav" id="menu-left">
                    <li><strong>目录</strong></li>
                    <li class="separator"></li>
                    <!-- <li><strong>API参考</strong></li>
                <li><a href="#welcome" class=" ">简介</a></li>
                <li><a href="#requires" class=" ">Requires</a></li>
                <li><a href="#power" class=" ">接口能力</a></li>
                {#      <li><a href="#features" class=" ">Features</a></li>#}
                {#      <li><a href="#license" class=" ">License</a></li>#}
                <li class="separator"></li>
                <li><strong>sentimentAPI</strong></li>
                <li><a href="#sentimentapi_describe" class=" ">接口描述</a></li>
                <li><a href="#sentimentapi_example" class=" ">接口示例</a></li>
                <li><a href="#sentimentapi_explain" class=" ">接口说明</a></li> -->
                </ul>
            </div>
        </section>
        <section class="vibrant centered">
            <div class="container">
                <h4> Designed By rui.cheng@zndex.com</h4>
            </div>
        </section>
        <footer>
            <div class="container">
                <p> &copy; 2020 ZNDEX</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify/prettify.js"></script>
    <script src="/static/js/layout.js"></script>
    <script src="/static/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
    <script src="/static/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/blog_detail.js"></script>
</body>

</html>