<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>zndex-blog</title>
    <link rel="stylesheet" href="/static/api_documment_css/style.css">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <!-- <link rel="stylesheet" href="/static/api_documment_css/prettify.css"> -->
    <link rel="stylesheet" href="/static/css/menu.css">
</head>

<body>
    <div id="app" style="background-color: #f4f5f5;">
        <nav>
            <div class="container">
                <a href="">

                    <h1 style="color: #007fff;">ZNDEX-Blog</h1>
                </a>
                <!-- <div id="menu">
                <ul class="toplinks">
                    <li><a href="http://www.zndex.com:5000" target="_blank">ZNDEX </a></li>
                    <li><a href="http://www.egrappler.com/">eGrappler</a></li>
                </ul>
            </div> -->
                <a id="menu-toggle" href="#" class=" ">&#9776;</a>
            </div>
        </nav>
        <center>
        <header style="width: 70%;">
            <div class="container">
                <center>
                    <div class="docs-header" id="title">
                        <!-- 这里是标题 -->
                    </div>
                </center>
                <span style="float: right;color: grey;" id="update_time">---------------发表于</span>
            </div>
        </header>
        <section style="width: 70%; background-color: white;">
            <div class="container">
                <div class="docs-content markdown markdown-body editormd-preview-container" id="result">
                    <!-- 此处插入内容 -->
                </div>
                <ul class="docs-nav my_menu" id="menu-left" style="background-color: #f4f5f5;">
                    <li><strong>目录</strong></li>
                </ul>
            </div>
        </section>
        </center>
        <section class="vibrant centered">
            <div class="container">
                <h4> Designed By rui.cheng@zndex.com</h4>
            </div>
        </section>
        <footer>
            <div class="container">
                <p> &copy; 2020 ZNDEX</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify/prettify.js"></script>
    <script src="/static/js/layout.js"></script>
    <script src="/static/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
    <script src="/static/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/blog_detail.js"></script>
</body>

</html>