<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>zndex-blog</title>
    <link rel="stylesheet" href="/static/api_documment_css/style.css">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <!-- <link rel="stylesheet" href="/static/api_documment_css/prettify.css"> -->
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/myblog.css">
    <link rel="stylesheet" href="/static/css/myblog-mobile.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="top"></div>
    <div id="app" style="background-color: #f4f5f5;" v-cloak>
        <div id="my-blog-top">
        <my-blog-head :is-login="isLogin" :search="search" :user-message="user_message"></my-blog-head>
        </div>
        <div class="my-blog" style="margin-top: 2px;">
            <div class="div-inline article-utils" id='article-utils'>
                <ul>
                    <li class="icon-li">
                        <a href="javascript:void(0)">
                            <i class="iconfont icon-item" title="点赞">&#xe8ad;</i>
                        </a>
                    </li>
                    <li class="icon-li">
                        <a href="#comment-title-anchor" class="label">
                            <i class="iconfont icon-item" title="评论">&#xe8b4;</i>
                        </a>
                    </li>
                    <li class="icon-li">
                        <a href="#top" class="label">
                            <i class="iconfont icon-item" title="返回顶部">&#xe6a5;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class='div-inline div-left my-blog-container'>
                <header>
                    <div class="container">
                        <div style="margin-top: 10px;">
                            <center><img id="cover_img" src="" alt=""></center>
                        </div>
                        <center>
                            <div class="anchor" id="title-anchor"></div>
                            <div class="docs-header" id="title">
                                <!-- 这里是标题 -->
                            </div>
                        </center>
                        <span style="float: right;color: grey;" id="update_time">---------------发表于</span>
                    </div>
                </header>
                <section style="background-color: white;margin-bottom: 20px;" class="blog-detail">
                    <div class="container">
                        <div class="docs-content markdown markdown-body editormd-preview-container" id="result">
                            <!-- 此处插入内容 -->
                        </div>
                    </div>
                </section>
                <div>
                    <section>
                        <div class="my-comment">
                            <div class="anchor" id="comment-title-anchor"></div>
                            <h3 id="comment-title" style="font-size: 18px;">评论</h2>
                                <div class="comment-block" v-if="isLogin==1">
                                    <div style="margin-left: 50px;margin-bottom: 10px;">
                                        <div class="comment-user-head">
                                            <img :src="'/show/logouser/' + user_message.picture" class="user-picture"
                                                alt="">
                                        </div>
                                        <my-blog-comment :blog-id="blogId" v-on:comment-commit="getCommentCommit">
                                        </my-blog-comment>
                                    </div>
                                </div>
                                <div class="comment-list">
                                    <ul>
                                        <li class="comment-li" v-for="(item, index) in comment_list" :key="item.id">
                                            <div class="comment-item">
                                                <div class="comment-head">
                                                    <img :src="'/show/logouser/' + item.user_picture" alt=""
                                                        class="user-picture">
                                                </div>
                                                <div class="comment-content">
                                                    <div style="font-size: 13px;">
                                                        {[item.nickname]}<p v-if="item.user_admin==1">(作者)</p>
                                                    </div>
                                                    <div style="margin-top: 10px;">
                                                        {[item.content]}
                                                    </div>
                                                    <div style="margin-top: 20px;color: #8a9aa9;">
                                                        <div style="font-size: 12px;display: inline-block;float: left;">
                                                            {[getTime(item.update_time)]}
                                                        </div>
                                                        <ul class="meta-list content-meta-list comment-meta-list"
                                                            style="float: right;" v-if="isLogin==1">
                                                            <!-- <li>
                                                                <i title="点赞" class="iconfont icon-item"
                                                                    style="font-size: 16px;padding: 0px;">{[item.like_count]}</i>
                                                            </li> -->
                                                            <li>
                                                                <a href="javascript:void(0)"
                                                                    @click="showCommentReplyInput(index)">
                                                                    <i class="iconfont icon-item" title="回复"
                                                                        style="font-size: 16px;padding: 0px;margin-left: 10px;">&#xe8b4;</i>
                                                                </a>
                                                            </li>
                                                            <li v-if="user_message.id == item.user_id">
                                                                <a href="javascript:void(0)"
                                                                    @click="deleteCommentFunc(index, item.id)">
                                                                    <i class="iconfont icon-item" title="删除"
                                                                        style="font-size: 16px;padding: 0px;margin-left: 10px;">&#xe8b6;</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <br>
                                                    <div class="reply-input" v-show="comment_reply_id == index">
                                                        <my-blog-comment :blog-id="blogId"
                                                            v-on:comment-commit="getCommentCommit"
                                                            :input-place-holder="'   回复' + item.nickname"
                                                            :input-type="'reply'"
                                                            :comment-id="item.id"
                                                            v-on:reply-commit="getReplyCommit"></my-blog-comment>
                                                    </div>
                                                    <my-blog-reply-list :comment-id="item.id"
                                                        :user-message="user_message" :blog-id="blogId"
                                                        :reply-list="item.reply_list" :is-login="isLogin"
                                                        :reply-count="item.reply_count"
                                                        v-on:reply-delete="getDeleteReplyCommit" 
                                                        v-if="item.reply_count>0">
                                                    </my-blog-reply-list>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="more" class="show-more">
                                    <button @click="getComment()">
                                        点击加载更多
                                    </button>
                                </div>
                                <!-- <div v-show="comment_list.length==0 && !more">
                                    <h6 style="text-align: center;color: #8a9aa9;">暂无评论QAQ</h3>
                                </div> -->
                                <div v-show="!more">
                                    <h6 style="text-align: center;color: #8a9aa9;">到底了QAQ
                            </h3>
                        </div>
                </div>
                </section>
            </div>
        </div>
        <div class='div-inline div-right'>
            <div class="container">
                <ul class="my_menu" id="menu-left">
                    <li style="margin-bottom: 10px;"><a href="#title-anchor" class="label"><strong>目录</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="vibrant centered">
        <div class="container">
            <h4> Designed By rui.cheng@zndex.com</h4>
        </div>
    </section>
    <footer>
        <div class="container">
            <p> &copy; 2020 ZNDEX</p>
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/lay/modules/layer.js"></script>
    <script src="/static/js/blog_detail_new.js"></script>
</body>

</html>