<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>zndex-blog</title>
    <link rel="stylesheet" href="/static/api_documment_css/style.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/myblog.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" style="background-color: #f4f5f5;" v-cloak>
        <nav style="border-bottom: 1px solid #f1f1f1;" id='my-blog-head'>
            <div class="container">
                <a href="" style="background: white;">
                    <img src="/show/logo/zndex_logo.png" alt="">
                    <!-- <h1 style="color: #007fff;">ZNDEX-Blog</h1> -->
                </a>
                <div id="menu">
                    <ul class="layui-nav" lay-filter="" style="background-color: white;">
                        <li class="layui-nav-item"><a href="" style="color: grey;">首页</a></li>
                    </ul>
                    <ul class="layui-nav layui-layout-right" style="background-color: white; margin-top: 10px;">
                        <li>
                            <!-- <div class="layui-form-item">
                                <div class="layui-input-block"> -->
                            <input type="text" name="search" placeholder="搜索ZNDEX" autocomplete="off"
                                class="layui-input">
                            <!-- </div>
                            </div> -->
                        </li>
                    </ul>
                </div>
                <a id="menu-toggle" href="#" class=" ">&#9776;</a>
            </div>
        </nav>
        <div style="background-color: white;" id="my-category">
            <div class="layui-header my-header" style="width: 70%;">
                <ul class="layui-nav" lay-filter="" style="background-color: white;">
                    <li class="layui-nav-item" :class="getCategoryClass('')"><a @click="changeNowCategory('')"
                            href="javascript:void(0)">全部</a></li>
                    <li v-for="item in categories" class="layui-nav-item"><a href="javascript:void(0)"
                            @click="changeNowCategory(item)">{[item]}</a></li>
                </ul>
            </div>
        </div>
        <div v-show="now_category != ''" class="my-tag" id="my-tag">
            <ul>
                <li>
                    <a href="javascript:void(0)" @click="changeNowTag('')" :style="getTagStyle('')">全部</a>
                </li>
                <li v-for="item in getTags()"><a href="javascript:void(0)" @click="changeNowTag(item)"
                        :style="getTagStyle(item)">{[item]}</a></li>
            </ul>
        </div>
        <div class="my-blog" id="my-blog-body">
            <div class='div-inline div-left'>
                <section class='my-blog-main'>
                    <div class="container">
                        <ul>
                            <li class="item">
                                <div class='content-box'>
                                    <div class="meta-row">
                                        <ul class="meta-list">
                                            <li class="categpry">
                                                分类
                                            </li>
                                            <li class='tag'>
                                                标签
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="title-row">
                                        <a href="" class="title">
                                            我是标题
                                        </a>
                                    </div>
                                    <div class="content-row">
                                        <div class="cover-img"><img src="http://127.0.0.1:5000/show/picture/?filename=dongman_1.jpg&width=200" alt=""></div>
                                        <div class="content"> 在很多情况下，我们会有把 Python 对象进行序列化或反序列化的需求，比如开发 REST API，比如一些面向对象化的数据加载和保存，都会应用到这个功能。
                                            比如这里看一个最基本的例子，这里给到一个 User 的 Class 定义，再给到一个 data 数据，像这样：</div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class='content-box'>
                                    <div class="meta-row">
                                        <ul class="meta-list">
                                            <li class="categpry">
                                                分类
                                            </li>
                                            <li class='tag'>
                                                标签
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="title-row">
                                        <a href="" class="title">
                                            我是标题
                                        </a>
                                    </div>
                                    <div class="content-row" style="width: 750px;">
                                        <div>我是画</div>
                                        <div>我是内容</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class='div-inline div-right'>
                <section class='my-blog-aside'>
                    <div class="container">
                        此处为侧边栏
                    </div>
                </section>
            </div>
        </div>
        <section class="vibrant centered">
            <div class="container">
                <h4> Designed By rui.cheng@zndex.com</h4>
            </div>
        </section>
        <footer>
            <div class="container">
                <p> &copy; 2020 ZNDEX</p>
            </div>
        </footer>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify/prettify.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        })
    </script>
    <script src="/static/js/index.js"></script>
</body>

</html>