<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>zndex-blog</title>
    <link rel="stylesheet" href="/static/api_documment_css/style.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/myblog.css">
    <link rel="stylesheet" href="/static/css/myblog-mobile.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" style="background-color: #f4f5f5;" v-cloak>
        <div id="my-blog-top">
        <my-blog-head :is-login="login" :search="search" :user-message="user_message"></my-blog-head>
            <div style="background-color: white;" id="my-category">
                <div class="layui-header my-header" style="width: 70%;">
                    <ul class="layui-nav" lay-filter="" style="background-color: white;">
                        <li class="layui-nav-item" :class="getCategoryClass('')"><a @click="changeNowCategory('')"
                                href="javascript:void(0)">全部</a></li>
                        <li v-for="item in categories" class="layui-nav-item"><a href="javascript:void(0)"
                                @click="changeNowCategory(item)">{[item]}</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div style="background-color: white;" id="my-category">
                <div class="my-header meta-row" style="width: 70%;">
                    <ul style="background-color: white;" class="meta-list">
                        <li :class="getCategoryClass('')"><a @click="changeNowCategory('')"
                                href="javascript:void(0)">全部</a></li>
                        <li v-for="item in categories"><a href="javascript:void(0)"
                                @click="changeNowCategory(item)">{[item]}</a></li>
                    </ul>
                </div>
            </div> -->
            <div v-show="now_category != ''" class="my-tag" id="my-tag">
                <ul>
                    <li>
                        <a href="javascript:void(0)" @click="changeNowTag('')" :style="getTagStyle('')">全部</a>
                    </li>
                    <li v-for="item in getTags()"><a href="javascript:void(0)" @click="changeNowTag(item)"
                            :style="getTagStyle(item)">{[item]}</a></li>
                </ul>
            </div>
        </div>
        <div class="my-blog" id="my-blog-body">
            <div class='div-inline div-left'>
                <section class='my-blog-main'>
                    <div class="container">
                        <ul id="blog_list">
                            <li class="item" v-for="item in blog_lists">
                                <div class='content-box'>
                                    <div class="meta-row">
                                        <ul class="meta-list">
                                            <li class="categpry">
                                                {[item.category]}
                                            </li>
                                            <li class='tag' v-for="tag in item.tag.split(',')">
                                                ·{[tag]}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="title-row">
                                        <a :href="getBlogUrl(item.id)" class="title" target="_blank">
                                            {[item.title]}
                                        </a>
                                    </div>
                                    <div class="content-row">
                                        <div class="cover-img"><img :src="item.cover_img_url" alt=""></div>
                                        <div class="content">{[getContent(item.content)]}</div>
                                    </div>
                                    <div>
                                        <ul class="meta-list content-meta-list">
                                            <li>
                                                <i class="iconfont icon-item" title="浏览"
                                                    style="font-size: 16px;">&#xe8bf;{[item.read_count]}</i>
                                            </li>
                                            <li>
                                                <i class="iconfont icon-item" title="点赞"
                                                    style="font-size: 16px;">&#xe8ad;{[item.like_count]}</i>
                                            </li>
                                            <li>
                                                <i class="iconfont icon-item" title="评论"
                                                    style="font-size: 16px;">&#xe8b4;{[item.comment_count]}</i>
                                            </li>
                                            <li>
                                                {[item.update_time.split(' ')[0]]}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div v-show="showLoading">
                            等待中
                        </div>
                        <div v-show="more" class="show-more">
                            <button @click="getBlogList()">点击加载更多</button>
                        </div>
                        <div v-show="!more" class="no-more">
                            没有更多了QAQ
                        </div>
                    </div>
                </section>
            </div>
            <div class='div-inline div-right'>
                <section class='my-blog-aside' id="menu-right" :class="getBarFixedClass()">
                    <div class="container">
                        <div style="width:100%; margin-right: 10px">
                            <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/04/601554968669_.pic_hd.jpg" alt="" style="width: 90%;">
                        </div>
                        <div style="width:100%; margin-right: 10px;margin-top: 10px;">
                            <img src="https://qiniu.cuiqingcai.com/wp-content/uploads/2019/06/4681561704146_.pic_hd.jpg" alt="" style="width: 90%;">
                        </div>
                    </div>
                </section>
            </div>
            <div class="back-top" v-show="showBackTop">
                <a href="javascript:scroll(0,0)" @click="showBackTop=false"><i class="iconfont icon-item" title="返回顶部"
                    style="font-size: 20px;">&#xe6a5;</i></a>
            </div>
        </div>
        <section class="vibrant centered">
            <div class="container">
                <h4> Designed By rui.cheng@zndex.com</h4>
            </div>
        </section>
        <footer>
            <div class="container">
                <p> &copy; 2020 ZNDEX</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/layui/lay/modules/layer.js"></script>
    <script src="/static/js/index_new.js"></script>
</body>

</html>