<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Category List</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style type="text/css">
        body .demo-class .layui-layer-btn .layui-layer-btn1 {
            background: #d43f3a;
            color: white;
            width: auto
        }
    </style>
</head>

<body>
    <div class="layui-row layui-col-space15" id="blog_list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <h2>评论列表</h2>
                <div class="layui-card-header">
                    <button type="button" class="layui-btn layui-btn-lg layui-btn-normal comment_list_refresh"
                        style="float: right">
                        <i class="layui-icon layui-icon-refresh"></i>刷新
                    </button>
                    <button type="button" class="layui-btn layui-btn-lg layui-btn-normal"
                        style="float: right; margin-right: 5px; margin-left: auto" onclick="openFilter()">
                        筛选
                    </button>
                </div>
                <div class="layui-card-body">
                    <div id="after_filter" style="display: none;float: right">
                        <input type="text" style="display: none" id="comment_sort_by" value="update_time">
                        <label>title: </label>
                        <input type="text" name="blog_title" id="blog_title" placeholder="请输入博客标题">
                        <label>comment_id: </label>
                        <input type="text" name="comment_id" id="comment_id" placeholder="请输入comment_id">
                        <button type="button" class="layui-btn layui-btn-lg layui-btn-normal comment_list_filter"
                                style="float: right; margin-right: 5px;">进行筛选
                        </button>
                    </div>
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>blog_id<button onclick="changeSortBy('blog_id')" title='根据博客id排序'><i class="layui-icon layui-icon-triangle-d"></i></button></th>
                                <th>blog_title</th>
                                <th>nickname</th>
                                <th>content</th>
                                <th>like_count</th>
                                <th>reply_count</th>
                                <th>update_time<button onclick="changeSortBy('update_time')" title="根据更新时间排序"><i class="layui-icon layui-icon-triangle-d"></i></button></th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="biuuu_city_list">
                        </tbody>
                    </table>
                    <center>
                        <div id="demo20"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/layui/layui.js'></script>
    <script>
        layui.use('layer', function () {
            var $ = layui.jquery
                , layer = layui.layer;

            if ($(window).width() <= 750) return
        });
    </script>
    <script src='/static/js/list_tools.js'></script>
    <script src='/static/js/comment_list.js'></script>
</body>

</html>