<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lowin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">-->
</head>

<body>
<div class="lowin">
    <div class="lowin-brand">
        myBlog
{#        <img src="{{ url_for('app_front.show_logo', filename='311566293312_pic.png') }}" alt="logo">#}
    </div>
    <div class="lowin-wrapper" style="min-height: 460px;">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form action="{{ url_for('app_front.login') }}" method=post id="login">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <p>请登录</p>
                    <div class="lowin-group">
                        <label>用户名</label>
                        <input type="hidden" name="post-action" value="login">
                        <input type="text" name="username" class="lowin-input" autocomplete="off">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码</label>
                        <input type="password" name="password" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>验证码</label>
                        <input type="text" name="captcha" class="lowin-input" style="width: 180px" autocomplete="off">
                        <img id="captcha_img" title="点击刷新验证码" class="captcha-img"
                             src="{{ url_for('app_front.graph_captcha') }}"
                             onclick="this.src='/captcha?'+ Math.random()"/>
                    </div>

                    <button type=submit class="lowin-btn login-btn">
                        登陆
                    </button>
                    <div class="text-foot">
                    还没有账户?
                    <a href="">注册</a>
                </div>
                </form>
                <div class="text-foot" style="color: red;">
                    {% for message in get_flashed_messages() %}
                        <div class=flash>{{ message }}</div>
                    {% endfor %}
                </div>
                <div class="text-foot">

                </div>
                <div>
                    <footer class="lowin-footer">
                        Design By Zndex
                    </footer>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>