

.my-header {
    background-color: white;
    margin: 0 350px;
}

.my_title {
    font-family: Georgia, Palatino, serif;
    color: black;
    font-weight: normal;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.my-ul-a {
    color: grey;
}

.my-tag {
    height: 20px;
    background-color: rgb(244, 245, 245);
    margin-top: 10px;
    /* margin-bottom: 5px; */
    margin-left: 400px;
}

.my-tag li {
    color: grey;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    width:100%;
    /* border:2px solid ; */
    border-radius:10px;
    display: inline;
    padding: 5px 10px 5px 10px;;
}

.my-tag .tag-active {
    color: blue;
}

.my-blog {
    margin-left: 350px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.div-left{
    width: 700px;
}

.div-right{
    width: 250px;
}

.div-inline{ 
    float: left;
}

.my-blog section {
    /* width: 700px; */
    background-color: white;
    margin:0 auto;
    /* margin-right: 500px; */
}

.my-blog .my-blog-aside{
    margin-left: 20px;
    background-color: white;
    /* margin-left: 720px; */
}

.my-blog .article-utils{
    width: 50px;
    margin-top: 200px;
    margin-right: 10px;
    /* margin-left: 65px; */
    z-index: 1000;
    position: fixed;
}

/* .my-blog .item{
    border-bottom: 1px solid rgb(241, 241, 241);
} */

.my-blog .content-box{
    border-bottom: 1px solid rgb(241, 241, 241);
    margin-bottom: 10px;
}

.my-blog .meta-list{
    display: flex;
    font-size: 16px;
}

.my-blog .meta-list .categpry{
    color: plum;
}

.my-blog .meta-list .tag{
    color: grey;
    font-size: 14px;
}

.my-blog .meta-list li {
    margin-right: 5px;
    line-height: 20px;
}

.my-blog .title-row{
    margin-top: 5px;
}

.my-blog .title-row{
    margin-bottom: 10px;
}

.my-blog .title-row .title{
    font-size: 20px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}

/* .my-blog .content-row {
    margin-bottom: 20px;
} */

.my-blog .content-row{
    display: inline-block;
    /* float: left; */
}

.my-blog .cover-img{
    width: 200px;
    height: 125px;
    margin-right: 10px;
    float: left;
}

.my-blog .content-row .content{
    width: 430px;
    height: 100%;
    float: left;
    /* max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap */
}

.my-blog .no-more{
    margin-left: 40%;
    margin-right: 40%;
    color: grey;
}